/*****************************************************************************
*        _______       _    _                     _____                      *
*       |__   __|   _ | |  | |                   |  __ \                     *
*          | |     (_)| |__| |                   | |__) |         _          *
*          | | __ _ _ |  __  |_   _ _   _ _ __   |  ___/__ _ _ __| | __      *
*       _  | |/ _` | || |  | | | | | | | | `_ \  | |   / _` | '__| |/ /      *
*      / |_| | (_| | || |  | | |_| | |_| | | | | | |  | (_| | |  |   <       *
*      \____/ \__,_|_||_|  |_|\__  |\__,_|_| |_| |_|   \__,_|_|  |_|\_\      *
*                            ,._/ /                                          *
*      jhyunp@snu.ac.kr      \___/           https://jaihyunp.github.io      *
*                                                                            *
*****************************************************************************/
/*****************************************************************************
MIT License

Copyright (c) 2019-2025 Jai Hyun Park

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*****************************************************************************/
/* Fonts */
@font-face {
    font-family: 'noto-kor-ii';
    font-weight: normal;
    font-style: normal;
    src:url('../assets/fonts/noto-kor-min/NotoSansKR-Light.woff2') format('woff2'),
    url('../assets/fonts/noto-kor-min/NotoSansKR-Light.woff') format('woff'),
    url('../assets/fonts/noto-kor-min/NotoSansKR-Light.otf') format('opentype');}
@font-face {
    font-family: 'noto-kor-i';
    src:url('../assets/fonts/noto-kor-min/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('../assets/fonts/noto-kor-min/NotoSansKR-DemiLight.woff') format('woff'),
    url('../assets/fonts/noto-kor-min/NotoSansKR-DemiLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'noto-kor';
    src:url('../assets/fonts/noto-kor-min/NotoSansKR-Regular.woff2') format('woff2'),
        url('../assets/fonts/noto-kor-min/NotoSansKR-Regular.woff') format('woff'),
        url('../assets/fonts/noto-kor-min/NotoSansKR-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'noto-kor-b';
    src:url('../assets/fonts/noto-kor-min/NotoSansKR-Bold.woff2') format('woff2'),
        url('../assets/fonts/noto-kor-min/NotoSansKR-Bold.woff') format('woff'),
        url('../assets/fonts/noto-kor-min/NotoSansKR-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'noto-eng-ii';
    font-weight: normal;
    font-style: normal;
    src:url('../assets/fonts/poppins/Poppins-ExtraLight.ttf');}
@font-face {
    font-family: 'noto-eng-i';
    src:url('../assets/fonts/poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'noto-eng';
    src:url('../assets/fonts/poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'noto-eng-b';
    src:url('../assets/fonts/poppins/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;}

/* Global Setting */
html, body { color: black; font-family: 'noto-eng','noto-kor' !important; height: 100%; background:white}
* {margin: 0;padding: 0;box-sizing: border-box}
a {color:indianred;text-decoration:none;}
a:hover {border-bottom: 1pt dashed black!important}
b {position:relative!important;font-family: 'noto-eng-b','noto-kor-b'}
p, h1, h2, h3 {color: black}
img {display:block}
#icon-sun {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }
  #icon-moon {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
  }
/* Header and Footer */
header,footer {
    z-index: 900;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: no-repeat center fixed;
    background-size: cover;}
footer * {position: relative}
._overlay {
    z-index: 10;
    position: absolute;
    top:0px;bottom:0px;
    left:0px;right:0px;
    background-color: rgb(24,24,24)
}
footer ._footer-line {
    z-index: 20;
    display: block;
    align-items: center;
    padding:0!important;
    margin-bottom:60px;
    margin-top:80px;
    text-align:center;}
footer ._footer-line h1 {
    font-family: 'noto-eng-ii','noto-kor-ii'!important;
    font-size: 9pt!important;
    color: white;
    text-align: center;
    position: relative;
    display: block;
    margin:auto;
    margin-bottom:10px;}
footer ._footer-line a {
    margin:auto;
    font-family: 'noto-eng-ii','noto-kor-ii'!important;
    font-size: 9pt!important;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family:inherit;
    font-size:inherit;
    border-bottom: 1pt solid rgba(0,0,0,0);
    padding-bottom:3px;
    text-align:center;}
footer ._footer-line a:hover {
    border-bottom:1pt solid rgba(255,255,255,0.8);
    transition: 0.4s ease-in-out;}
footer ._footer-line p {
    font-family: 'noto-eng-ii','noto-kor-ii';
    font-size: 8pt;
    color: white;
    text-align: center;
    position: relative;
    display: block;
    margin:auto;}
footer ._goto-top {
    position:absolute;
    top:20px;
    right:5%;
    z-index:999;
    width:45px;
    height:45px;
    line-height:45px;
    border-radius: 45px;
    background: rgba(255, 255, 244, 0.8);
    text-align:center;
    cursor: pointer;}
footer ._goto-top img {
    width:40%;
    position:absolute;
    left:30%;
    top:15px}
footer ._goto-top:hover {background: rgba(200, 200, 180, 0.8);}

/* Menubar */
.menubar {
    /* border:1pt solid red; */
    width: 100%;
    max-width:1400px;
    margin-top:25px!important;
    z-index:999;
    display:flex;
    position:absolute;
    left:50%;
    translate:-50%
}
.menubar * {position: relative;}
.menubar .left-menu {
    margin-left:5%;
    margin-right:auto;}
.menubar .right-menu{
    margin-right:3%;
    margin-left:auto;}
.menubar .right-menu a {
    margin:auto;
    font-family: 'noto-eng-i','noto-kor-i';
    font-size: 12pt;
    color:black;
    transition:0.2s ease-in-out;
    text-decoration: none;}
.menubar .right-menu a:hover,
.menubar .right-menu .this-page{
    color: indianred!important;
    transition:0.2s ease-in-out;}
.menubar .right-menu .right-menu-menu{
    display:flex;
    position:relative;}
.menubar .right-menu .right-menu-menu div{
    position:relative;
    margin: auto;
    padding: 5px;
    width:auto;
    margin-left: 18px;
    height: 50px;
    line-height: 50px;
    border-radius:10px;
    text-align:center;
    /* border:solid red 5px */
}
.menubar .right-menu .right-menu-dropmenu,
.menubar .right-menu .right-menu-button{display:none;}

/* Section Layout */
.narrow-piece {
    width:550px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;}
.big-piece {
    width:740px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;}
.wider-piece {
    width:950px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;}
.wide-piece {
    width:850px!important;
    margin:auto;
    margin-bottom:80px;
    display:block;}
    
/* special positions */
.flex-block {
    display:flex;
    align-content: center;
    justify-content: space-between;
    margin:auto;
    overflow: auto;
    flex-direction: row;}
.flex-block h1 {text-align:left;}
.flex-block p {text-align:right;}
.flex-block > * {
    align-self: center;
    padding:0;
    margin:auto 40px;}
.grid-3-1-ul {
    width:100%;
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;}
.grid-3-1-ul > li{
    margin:5px auto ;
    display: block;
    width: 90%;
    padding-left: 20px;
    border-left: 3px gray solid;}
.grid-3-1-ul > li h1 {
    position: relative;
    margin:auto;
    margin-left:0;}
.grid-3-1-ul > li p {
    position: relative;
    margin:auto;
    margin-right:0;}
.fixed {position:fixed;z-index:0}

@media screen and (max-width: 700px) {
    .grid-3-1-ul {display:block!important}
}

@media screen and (max-width: 1000px) {
    .menubar .right-menu .right-menu-menu{display:none;}
    .menubar .right-menu .right-menu-dropmenu{
        position: relative;
        margin: auto;
        padding: 5px;
        display:block;
        border-radius:10px;
        background-color: rgba(245,245,245,0.95);
        display:none;}
    .menubar .right-menu .right-menu-dropmenu div{
        position: relative;
        height: 80px;
        line-height: 80px;
        width:120px;
        margin:auto;
        text-align: center;}
    .menubar .right-menu .right-menu-dropmenu a {color: black}
    .menubar .right-menu .right-menu-dropmenu a:hover {color: indianred}
    .menubar .right-menu .right-menu-button{
        position:relative;
        padding:5px;
        padding-top:10px;
        padding-bottom:10px;
        line-height: 50px;
        text-align:center;
        display:block;
        width:40px;
        height:40px;
        margin: auto;
        margin-right:0px;
        cursor:pointer;}

    .big-piece {width:74%!important}
    .wider-piece{width:95%!important;}
    .wide-piece{width:85%!important;}
    .narrow-piece{width:55%!important;}

    .flex-block {
        display:block!important;
        text-align: center;}
    .flex-block *{
        text-align:left!important;
        margin-left:auto!important;
        margin-right:auto!important;}
    .flex-block h1{text-align:center!important;}
    .grid-3-1-ul {
        display:grid;
        grid-template-columns: 50% 50%!important;}
}

.icon-sun {display:none}
.icon-moon {display:inline;filter:none!important;width:15px; height:15px; margin:auto}
@media (prefers-color-scheme:dark){
    html, body { color: #F5F5DC; font-family: 'noto-eng','noto-kor' !important; height: 100%; background: #212121}
    a {color:#E2C56C}
    a:hover {border-bottom: 1pt dashed #F5F5DC!important}
    p, h1, h2, h3 {color: #F5F5DC}
    img {filter:invert(90%)}
    ._goto-top img{filter: none !important;}

    .menubar .right-menu a {color: #F5F5DC!important}
    .menubar .right-menu a:hover,
    .menubar .right-menu .this-page{color: #E2C56C!important;}
    .menubar .right-menu .right-menu-dropmenu{background-color: rgba(5,5,5,0.95)}

    ._overlay {background-color:black;}
    .icon-sun {display:inline;filter:none!important;width:15px; height:15px; margin:auto}
    .icon-moon {display:none}
}